.primary-btn {
  background-color: var(--primary);
  border: none;
  border-radius: 9999px;
  padding: 1em;
  color: white;
  font-weight: bold;
  font-size: 1em;

  &:hover {
    background-color: var(--primary-hover);
    cursor: pointer;
  }
}
